#fb-btn {
    margin-top: 20px;
}

#profile, #logout {
    display: none;
}

body, html {
    height: 100%;
}

.homepagebanner { 
    /* The image used */
    background-image: url("/images/banner1.jpg");

    /* Full height */
    height: 60%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li:nth-child(6) {
    list-style-type: none; 
 }

 a{
    color: #fb1767;
    /* display: inline-block; */
    text-decoration: none;
    background-image: linear-gradient(to right, #fb1767, #006cff);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 35% 2px;
    transition: background-size .5s ease;
}
a:hover {
    text-decoration: none;
    background-size: 100% 2px;
}
