<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Sports Watch</title>
</head>
<body>
    <!--#### Facebook Login ####-->
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '430558230800886',
            cookie     : true,
            xfbml      : true,
            version    : 'v3.2'
          });

          FB.getLoginStatus(function(response) {statusChangeCallback(response);});
        };
      
        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function statusChangeCallback(res) {
          if(res.status === 'connected') {
            console.log('Logged in and authed');
          } else {
            console.log('Not auth');
          }
        }
      </script>
    <!--#### Facebook login end ####-->


<header th:replace="layout :: site-header" />

    <div class="container">
        <p>Welcome :</p>
        <p th:text="${user.userName}">place holder</p>
        <h3>Your Favorite Teams</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Team Name</th>
                <th scope="col">Abbreviation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${teams}">
                <td th:text="${t.teamName}">Team Name</td>
                <td th:text="${t.teamNameAbbreviation}">Abbreviation</td>
            </tr>
            </tbody>
        </table>
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>