<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="site-head">
    <meta charset="UTF-8" />
    <title>Sports Watch</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    <link
      th:href="@{/css/main.css}"
      href="/css/main.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <header th:fragment="site-header">
      <!-- ###### nav bar start ###### -->
      <div
        class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
      >
        <a class="my-0 mr-md-auto" href="index.html" th:href="@{/}">
          <img th:src="@{/images/logo.png}" alt="Sports Watch" />
        </a>

        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="index.html" th:href="@{/}">HOME</a>
          <a class="p-2 text-dark" href="allteams.html" th:href="@{/allteams}"
            >ALL Teams</a
          >
          <a
            class="p-2 text-dark"
            href="selectteams.html"
            th:href="@{/selectteams}"
            >Favorite Team</a
          >

          <a class="p-2 text-dark" href="#">Scoreboard</a>
          <a
            class="p-2 text-dark"
            href="teamsranking.html"
            th:href="@{/teamsranking}"
            >Teams Ranking</a
          >
          <a class="btn btn-outline-primary" href="signup.html" th:href="@{/signup}" th:if="${session == null}">Sign up</a>
          <a class="btn btn-outline-primary" href="login.html" th:href="@{/login}" th:if="${session == null}">Log in</a>
          <a class="btn btn-outline-primary" href="adminlogin.html" th:href="@{/adminlogin}" th:if="${session == null}">Admin Log in</a>
          <a class="btn btn-outline-primary" th:href="@{/logout}" th:if="${session != null}">Log out</a>
        </nav>
      </div>
      <!-- ###### nav bar end ###### -->
    </header>

    <!-- ###### site footer start ###### -->
    <footer th:fragment="site-footer" class="pt-4 my-md-5 pt-md-5 border-top">
      &copy; Sports Watch, 2018
    </footer>
    <!-- ###### site footer end ###### -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
