<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Sports Watch Login</title>
</head>
<body>
    <!--#### Facebook Login start ####-->
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '430558230800886',
            cookie     : true,
            xfbml      : true,
            version    : 'v3.2'
          });

          FB.getLoginStatus(function(response) {statusChangeCallback(response);});
        };
      
        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function statusChangeCallback(res) {
          if(res.status === 'connected') {
            setElements(true);
            testAPI();
            console.log(res);
            console.log('Logged in and authed');
          } else {
            setElements(false);
            console.log('Not auth');
          }
        }

        function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
        }

        function testAPI() {
            FB.api('/me?fields=name,email', function(res) {
                if(res && !res.error) {
                    console.log(res);
                    $("#userID").val(res.id);
                    $("#userName").val(res.name);
                    $("#loginForm").submit();
                }
            })
        }
        
        function setElements(isLoggedIn) {
            if(isLoggedIn) {
                document.getElementById('logout').style.display='block';
                document.getElementById('fb-btn').style.display='none';
            } else {
                document.getElementById('logout').style.display='none';
                document.getElementById('fb-btn').style.display='block';
            }
        }

        function logout() {
            FB.logout(function(res) {
                setElements(false);
            });
        }
    </script>
    <!--#### Facebook login end ####-->

    <!--#### Fragment header start ####-->
    <header th:replace="layout :: site-header" />
    <!--#### Fragment header end ####-->

    <div class="container">

        <!--#### Facebook logout button start ####-->
        <li><a id="logout" href="#" onclick="logout()">Logout</a></li>
        <!--#### Facebook logout button end ####-->
    </div>

    <!--#### Facebook login button start ####-->
    <fb:login-button 
    id="fb-btn"
    scope="public_profile,email"
    onlogin="checkLoginState();">
    </fb:login-button>
    <!--#### Facebook login button end ####-->

    <!--#### hidden form to send user id and user name to back end  ####-->
    <form th:action="@{~/login}" method="POST" id="loginForm">
        <input type="hidden" name="userID" id="userID">
        <input type="hidden" name="userName" id="userName">
    </form>
    <!--#### hidden form end ####-->



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>