<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Favorite Team - select teams</title>
</head>

<body>
<div th:replace="layout :: facebook-API" />
<header th:replace="layout :: site-header" />

<div class="container">
    <h2>Choose your favorite teams</h2>
    <form id="teamsSelector" method="post">
        <select class="js-example-basic-multiple" name="formData" multiple="multiple" style="width: 60%">
            <option th:each="t : ${teams}" th:value="${t.teamID}" th:text="${t.City} + ' ' + ${t.teamName}"></option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
        // Prevent empty form submission
        $("#teamsSelector").submit(function (event) {
            if ($('select').children(":selected").length == 0) {
                alert("Please choose your favorite team!");
                return false;
            }
        });
    </script>
</body>

</html>